# --- .NET ---
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/
artifacts/
TestResults/
*.db
*.db-shm
*.db-wal
wwwroot/
AppData/

# --- Node / Vite ---
node_modules/
dist/
.DS_Store
.vite/
coverage/


# --- OS ---
Thumbs.db

# --- Env ---
.env.local
.env.*.local
